<div class="w3-card w3-black w3-border">
 <table>
  <tr>
   <td></td>
   <td><b style="color:white">device-manager<b></td>
   <td></td>
   <td><a class="w3-button w3-indigo" href="/device-manager/devices">Devices</a></td>
   <td><a class="w3-button w3-indigo" href="/device-manager/groups">Groups</a></td>
   <td><a class="w3-button w3-indigo" href="/device-manager/defaults">Defaults</a></td>
   <div><a style="float:right" class="w3-button w3-indigo" href="/apps/index">Back</a></div>
  </tr>
 </table>
</div>
