{% if host.data.bgp.peers %}
 {% for neighbor in host.data.bgp.peers %}
{% set bgp_asn = host.data.bgp.asn %}
router bgp {{ bgp_asn }}
 neighbor {{ neighbor.ip }} remote-as {{ bgp_asn }}
 neighbor {{ neighbor.ip }} update-source Loopback 0
 address-family vpnv4
  neighbor {{ neighbor.ip }} activate
 !
!
 {% endfor %}
{% endif %}
