{% if host.data.customers %}
 {% for customer in host.data.customers %}
 {% set bgp_asn = host.data.bgp.asn %}
router bgp {{ bgp_asn }}
 address-family ipv4 vrf {{ customer.name }}
  redistribute ospf {{ customer.ospf }}
 !
!
router ospf {{ customer.ospf }} vrf {{ customer.name }}
 redistribute bgp {{ bgp_asn }} subnets
!
 {% endfor %}
{% endif %}
