{% for customer in host.data.customers %}
{% set bgp_asn = host.data.bgp.asn %}
router bgp {{ bgp_asn }}
 address-family ipv4 vrf {{ customer.name }}
  no redistribute ospf {{ customer.ospf }}
 !
!
router ospf {{ customer.ospf }} vrf {{ customer.name }}
 no redistribute bgp {{ bgp_asn }} subnets
!
{% endfor %}
