<html>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <body class="w3-content" style="max-width:1900px">
        {% include 'html/topbar.html' %}
        <div class="w3-row w3-teal w3-container">
            <div class="w3-card w3-white" style="max-width:700px text-align:center">
                <div class="w3-container w3-padding-32">
                    <h1>Custom Tasks</h1>
                    {% if tasks %}
                    <table class="w3-table w3-border">
                        <tr class="w3-indigo">
                            <td class="name">name</td>
                            <td class="actions">actions</td>
                        </tr>
                        {% for task in tasks %}
                        <tr>
                            <td class="name">{{ task }}</td>
                            <td class="actions">
                                <a class="w3-button w3-teal" href="/task-manager/run-custom-tasks?taskname={{task}}&name=custom">Run</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                    {% else %}
                    <p>No custom tasks exist currently.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </body>
</html>
