<div class="w3-card w3-black w3-border">
 <table>
  <tr>
   <td></td>
   <td><b style="color:white">task-manager<b></td>
   <td></td>
   <td><a class="w3-button w3-indigo" href="/task-manager/executions">Executions</a></td>
   <td><a class="w3-button w3-indigo" href="/task-manager/results">Results</a></td>
   <td><a class="w3-button w3-indigo" href="/task-manager/send-command">Send Command</a></td>
   <td><a class="w3-button w3-indigo" href="/task-manager/custom-tasks">Custom Tasks</a></td>
   <div><a style="float:right" class="w3-button w3-indigo" href="/apps/index">Back</a></div>
  </tr>
 </table>
</div>
