<html>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body class="w3-content" style="max-width:1900px">
    <div class="w3-dark-grey w3-container w3-center" style="height:700px">
        <div class="w3-padding-64">
            <h1>Available Applications</h1>
        </div>
        <div class="w3-padding-64">
            <a href="/device-manager/devices" class="w3-button w3-black w3-block w3-hover-blue-grey w3-padding-16">Device Manager</a>
            <a href="/task-manager/executions" class="w3-button w3-black w3-block w3-hover-teal w3-padding-16">Task Manager</a>
        </div>
    </div>
</body>
<html>
